@using Domain.Tenants.Multitenancy
@using SimpleMultiTenant.Controllers
@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>@Model.Tenant.Name</h2>
    <a asp-controller="Goods" asp-action="Index">Goods</a>

    @if (Model.Junk != null)
    {
        <div class="my-3">
            <h3>Your junk:</h3>
            <div>@Model.Junk.Name</div>
            <div>@Model.Junk.Description</div>
        </div>
    }
</div>
